a {
    color: black;
    margin-left: 5px;
}

ol {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: left; 
    align-items: left;     
    padding: 0px;
    /* list-style-type:none; */
}

li {
    margin: 0px 20px;
    /* list-style-position:inside; */
    white-space: nowrap;
}

.best-posts-container {
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}



