.navbar {
    padding: 0px 10px;
    height: 60px;
}

li a, .vertical-centered {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
  justify-content: center;
}

li, ul, a {
    height: 100%;
}

.navbar-collapse {
    height: 100%;
}

li a:hover { 
    background-color: black !important;
}

.navbar-brand {
    color: rgb(207, 162, 77);
}

.navbar-nav li.active > a {
	background-color: rgb(207, 162, 77);
	color: white;
}

nav-link {
    height: 100%;
}