.navbar {
    padding: 5px 20px;
    /* height: 60px; */
    background-color: black;
    color: white;
}

h4 {
    margin: 0px;
}

.fa.fa-navicon {
    color:white;
}

li:hover{
    cursor: pointer;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: black;
}

a {
    color: white;
}

a:hover {
    color: darkgray;
}

.title-style {
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.nav-link {
    color: white;
}

/* li a, .vertical-centered {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

li, ul, a {
    height: 100%;
} */

/* .navbar-collapse {
    height: 100%;
} */

/* li a:hover { 
    background-color: black !important;
} */

/* .navbar-brand {
    color: rgb(207, 162, 77);
}

.navbar-nav li.active > a {
	background-color: rgb(207, 162, 77);
	color: white;
}

nav-link {
    height: 100%;
} */