<div class="container-fluid" style="padding: 10px 30px; width: 100%; height: 730px; background-color: #212">
    
    <div class="row" style="padding: 0px; width: 100%; margin: 0px">

      <div class="col-md-6 mt-5">

          <div style="background-color: white; border-radius: 5px; padding: 10px; height: 100%;">
            <article>
              <h4>Blog</h4>
              <p>
                This blog is under construction. Please, if you have sugestions, contact me.
              </p>
            </article>
          </div>

      </div>
      
      <div class="col-md-6 mt-5">
        <app-feedback></app-feedback>
      </div>

    </div>

</div>