<div class="container h-100;">
  <div class="row " >
    <div class="col-md-3"style="height: 100%; padding: 50px 10px;" >
      <app-user-info-vbar [user]="user"></app-user-info-vbar>
    </div>
    <div class="col-md-9 hidden-md-down" 
      style="height: 100%; background-color: white; display: flex; flex-direction: column; align-items: center;">
      <div style="border-radius: 5px; padding: 10px; margin: 20px 10px;">
        <article>
          <h4>Olá</h4>    
          <div style="text-align: justify;">
            <p>Primeiramente, este blog está em construção. Por favor, se você tiver alguma sugestão de melhoria, 
                me envie um email.</p>
            <p>
              O objetivo inicial da criação deste blog é a aplicação de conceitos e tecnologias que eu venho 
              aprendendo nos últimos meses (Spring, Angular, etc). A partir do momento que houver uma versão
              "estável" o objetivo passa a ser compartilhar minhas anotações em formato de posts.     
            </p>
            <p>
              Desta forma, esse blog consiste de anotações informais sobre assuntos variados. O que está escrito
              reflete minha opinião e conhecimento dos temas abordados. Não me responsabilizo pelo uso das informações
              contidas aqui.
            </p>
            <p>
              Espero que tenha alguma coisa útil para você no meu blog. Agradeço a visita. Bye.
            </p>
          </div>
        </article>
      </div>
      <!-- <app-feedback></app-feedback>       -->
    </div>
  </div>
</div>