<div class="container h-100">

    <div class="row display: flex; flex-wrap: wrap " >
        <div class="col-md-2"style="height: 100%;" ></div>
      
        <div class="col-md-8 hidden-md-down" style="height: 100%; background-color: white; display: flex; flex-direction: column; align-items: center;">
      
            <div style="border-radius: 5px; padding: 10px; margin: 20px 10px;">
                <article>
                  <h4>Blog</h4>
                  <p>
                    This blog is under construction. Please, if you have sugestions, contact me.
                  </p>
                </article>
              </div>
        
              <app-feedback></app-feedback>      
        
        </div>
        <div class="col-md-2" style="height: 100%;"></div>
      </div>
  </div>