<div class="form-container" style="background-color: white; border-radius: 5px; padding: 10px; width: 100%">
  <!-- #field_name is an alias for an element. -->
  <!-- The feedback will be send only if the form is valid. -->
  <form ngForm #form="ngForm" class="feedback-form" (ngSubmit)="form.valid && sendFeedback()" novalidate>
  
    <p class="h4 mb-4 text-center">Deixe seu feedback</p>

    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text"
      id="name" class="form-control" name="name"
      placeholder="Your name!" [(ngModel)]="model.userName"
      #name=ngModel [ngClass]="{'is-invalid' : form.submitted && name.invalid}"
      minlength="2" maxlength="40" required/> 
      <div *ngIf="form.submitted && name.invalid" class="invalid-input">
        <div *ngIf="name.errors?.required" >Campo obrigatório!</div> 
        <div *ngIf="content.errors?.minlength">Nome de usuário deve ter entre 2 e 40 caracteres.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text"
      id="email" class="form-control" name="email"
      placeholder="Your email!" [(ngModel)]="model.email"
      #email=ngModel [ngClass]="{'is-invalid' : form.submitted && email.invalid}"
      maxlength="40" required email/> 
      <div *ngIf="form.submitted && email.invalid" class="invalid-input">
        <div *ngIf="email.errors?.required" >Campo obrigatório!</div> 
        <div *ngIf="email.errors?.email">Email não é válido</div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="content">Feedback</label>
      <textarea type="text"
          id="content" class="form-control" name="content"
          placeholder="Your feedback!" rows="10" [(ngModel)]="model.content"
          #content="ngModel" [ngClass]="{'is-invalid' : form.submitted && content.invalid}"
          required minlength="10" maxlength="255">
      </textarea>
      <div *ngIf="form.submitted && content.invalid" class="invalid-input">
        <div *ngIf="content.errors?.required">Campo obrigatório!</div>
        <div *ngIf="content.errors?.minlength">Muito pequeno! (necessário ao menos 10 caracteres)</div>
      </div>
    </div> 

    <div style="display: flex; flex-direction: row; margin-bottom: 50px">     
      <!-- Recaptcha component -->
      <div>
        <ngx-recaptcha2 #captchaElem
        [siteKey]="key" 
        [ngModel]="recaptcha"
        name="captchaElem"
        (success)="handleSuccess($event)">
        </ngx-recaptcha2>
        <div class="invalid-input" *ngIf="captchaError">Captcha is required!</div>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-info" style="margin-left: auto; height: 40px;" >
        <i class="fa fa-envelope-o"></i>
        <span>Send Feedback</span>
      </button>      
    </div>
  </form>

</div>

    