<div>
    <div *ngIf="loading" style="height: 100%;">
        <div class="row" style="position: absolute;display: block;top: 50%;left: 50%;">
            <div class="spinner-border" style="width: 6rem; height: 6rem; color: brown; " role="status">
                <span class="sr-only">Loading...</span>
            </div>  
        </div>
    </div>
    <div style="padding: 45px 60px">
        <app-post-card-grid *ngIf="summaries.length > 0 && !loading" [summaries]="summaries"></app-post-card-grid>
        <div *ngIf="summaries.length == 0" class="search-result-info">
            <p>Desculpe, nenhum post foi encontrado para esta categoria!</p>
        </div>
    </div>
</div>