<div>
    <div *ngIf="loading" style="height: 100%;">
        <div class="row" style="position: absolute;display: block;top: 50%;left: 50%;">
            <div class="spinner-border" style="width: 6rem; height: 6rem; color: brown; " role="status">
                <span class="sr-only">Loading...</span>
            </div>  
        </div>
    </div>
    <div style="margin-top: 25px;">
        <app-post-card-grid *ngIf="summaries.length > 0 && !loading" [summaries]="summaries"></app-post-card-grid>
        <div *ngIf="summaries.length == 0 && !loading" class="search-result-info">
            <p>Desculpe, nenhum post foi encontrado para esta categoria!</p>
        </div>
        <nav *ngIf="count > 1 && !loading" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li [ngClass]="p==0 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" (click)="previousPage()" href="#main-anchor" tabindex="-1">Anterior</a>
              </li>            
              <li [ngClass]="p==count-1 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" (click)="nextPage()" href="#main-anchor">Próxima</a>
              </li>
            </ul>
          </nav>
    </div>
</div>