<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">

      
      <div style="padding: 10px 20px">
          <div class="deck-container">
              <div class="card-deck ">
                  <div class="row">
                  <div class="card-columns">
                      <div *ngFor="let s of summaries" class="card" >
                          <img class="card-img-top" src="/assets/img/image-not-found.png"  alt="Card image cap">
                          <div class="card-body">

                            <div>
                                <div style="display: inline-block;">
                                    <h5 class="card-title"><a [routerLink]="[ '/post', s.id ]">{{s.title}}</a></h5>
                                </div>
                                <div style="float: right;">
                                    <a *ngFor="let tag of s.tags" [routerLink]="[ '/', tag ]">
                                        #{{tag}} 
                                    </a>
                                </div>
                            </div>
                            
                            <p class="card-text">{{s.summary}}
                                <a class="full-post-link" [routerLink]="[ '/post', s.id ]">Full Post</a>
                            </p>
                          </div>
                          <div class="card-footer">
                                  
                              <small class="text-muted">Postado em {{s.creationDate | date : "dd-MM-yyyy 'às' HH:mm" }} por {{s.userName}}</small>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          
                                  
          <!-- Text -->
          <!-- <textarea class="input-label" style="width:100%;" rows="6" (change)="updateNote()" [(ngModel)]=note.text></textarea> -->
          <!-- Text info: last modification -->
          <!-- <strong class="text-info" style="font-size:small;">{{note.lastModifiedOn | date:'dd-MM-yyyy HH:mm'}}</strong> -->
          
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 10px;">
       <div style="margin: 10px;">
          <app-right-menu></app-right-menu>
      </div> 
    </div>
  </div>
</div>