 a {
    color:rgb(207, 162, 77);
}

.card-text {
    text-align: justify;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1600px) {
    .card-columns {
        column-count: 3;
    }
}