<div class="deck-container">
    <div class="card-deck ">
        <div class="card-columns">
            <div *ngFor="let s of summaries" class="card">
                <img class="card-img-top" src="/assets/img/image-not-found.png"  alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a [routerLink]="[ '/post', s.id ]">{{s.title}}</a></h5>
                    <p class="card-text">{{s.summary}}
                        <a class="full-post-link" [routerLink]="[ '/post', s.id ]">Full Post</a>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Postado em {{s.date}} por {{s.userName}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

                        
<!-- Text -->
<!-- <textarea class="input-label" style="width:100%;" rows="6" (change)="updateNote()" [(ngModel)]=note.text></textarea> -->
<!-- Text info: last modification -->
<!-- <strong class="text-info" style="font-size:small;">{{note.lastModifiedOn | date:'dd-MM-yyyy HH:mm'}}</strong> -->
  



