<div class="container-fluid" style="padding: 50px 10px">

  <div *ngIf="post" class="row" >
     
      <div class="col-md-2" style="border-right: 1px solid #333; ">
        <app-user-info-vbar [user]="user"></app-user-info-vbar>
      </div>

      <!-- Post -->
      <div class="col-md-8">
        <article>
          
          <div>
            <div style="display: inline-block;">
                <h2 class="title">{{post.title}}</h2>
            </div>
            <div style="float: right;">
                <a *ngFor="let tag of post.tags" [routerLink]="[ '/', tag ]">
                  #{{tag}} 
                </a>
            </div>
          </div>

          <span>Por {{user.fullName}} em {{post.creationDate | date : "dd-MM-yyyy 'às' HH:mm" }} </span>
          
          <!-- Post content -->
          <div style="margin: 20px 0px; text-align: justify" 
          [innerHTML]="post.body | safeHtml"></div>
          
          <span>Último update em {{post.lastUpdateDate | date : "dd-MM-yyyy 'às' HH:mm" }}</span>
        </article>
      </div>

      <!-- Right sidebar: best blog posts -->
      <div class="col-md-2" style="border-left: 1px solid #333; border-right: 0px">
          <app-right-menu></app-right-menu>
      </div>

    </div>

  </div>