<div class="container-fluid" style="padding: 50px 10px">

  <div *ngIf="post" class="row" >
     
      <div class="col-md-2" style="border-right: 1px solid #333; ">
        <app-user-info-vbar userId="{{post.userId}}"></app-user-info-vbar>
      </div>

      <!-- Post -->
      <div class="col-md-8">
        <article>
          <h2 class="title">{{post.title}}</h2>
          <span>{{post.lastUpdateDate}}</span>
          <div class="content">
            <p>{{post.body}}</p>
          </div>
        </article>
      </div>

      <!-- Right sidebar: best blog posts -->
      <div class="col-md-2" style="border-left: 1px solid #333; border-right: 0px">
          <app-right-menu></app-right-menu>
      </div>

    </div>

  </div>