<div class="card-columns">
    <div *ngFor="let s of summaries" class="card">

        <a [routerLink]="[ '/post', s.id ]">
            <img class="card-img-top"
            src="{{s.bannerUrl}}"
            alt="Card image cap"/>
        </a>

        <div class="card-body">

            <div>
                <div style="display: inline-block;">
                    <h5 class="card-title"><a [routerLink]="[ '/post', s.id ]">{{s.title}}</a></h5>
                </div>
                <div style="float: right;">
                    <a *ngFor="let tag of s.tags" [routerLink]="[ '/posts/', tag ]">
                        #{{tag}} 
                    </a>
                </div>
            </div>
            
            <p class="card-text">{{s.summary}}
                <a class="full-post-link" [routerLink]="[ '/post', s.id ]">Full Post</a>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Postado em {{s.creationDate | date : "dd-MM-yyyy 'às' HH:mm" }} por {{s.userName}}</small>
        </div>
    </div>
</div>
