
.subscribe-container {
    background-color: #F8F8F8;
    padding: 6px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.in-line {
    display: flex;
    flex-flow: row nowrap;
}

input[type=text] {
    padding: 6px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 17px;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #ccc;
}

button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}