<div class="container-fluid" style="padding: 20px; background-color: white">
  <div class="row">

    <div class="col-md-9">
      <ul class="list-group list-group-flush">
        <!-- create post button -->
        <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#createPostModal" 
          (click)="openCreatePostModal()">
            <i class="fa fa-plus"></i> New post
        </button>
        <!-- post list -->
        <li *ngFor="let post of posts" class="list-group-item">
          {{post.title}}
          <div class="pull-right">
            <!-- show post (redirect to the post page) -->
            <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" [routerLink]="[ '/post', post.id ]">
              <i class="fa fa-eye"></i>
            </button>
            <!-- show post configuration modal -->
            <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" 
              data-toggle="modal" data-target="#postConfigurationModal" (click)="openPostConfiguration()">
                <i class="fa fa-cog"></i>
            </button>
            <!-- show modal with edition tool -->
            <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" 
              (click)="openEditPostModal(post)"> <i class="fa fa-pencil"></i>
            </button>
            <!-- delete the post -->
            <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="deletePost(post)">
               <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      
      <!-- <app-statistics></app-statistics> -->
      <div class="row" style="background-color: darkgray; padding: 10px; margin: 0px; border-radius: 5px; width: 100%;">
        <div class="col-md-12">
            <p class="text-center">Post Details</p> 
        </div>
      </div>
      <div class="row mt-4" style="background-color: darkgrey; padding: 10px; border-radius: 5px; margin: 20px 0px; width: 100%">
        <div class="col-md-12"> 
          <p class="text-center">Notifications</p>
            <app-toaster></app-toaster>
        </div>  
      </div>

    </div>

  </div>
</div>


