
.search-container form {
    display: flex;
    flex-flow: row nowrap;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    align-items: stretch;
}

input[type=text] {
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    font-size: 17px;
    border: none;
    width: 100%;
}

button:hover {
    background-color: #ccc;
}

button {
    padding: 6px 10px;
    background: #ddd;
    border-radius: 0px 5px 5px 0px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


